<app-admin-home></app-admin-home>
<!-- <form class="form-signin">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="text-center">
                            Adding new Item</h3>
                        <form class="form form-signup" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="Item Name" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                    
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                <input type="Text" class="form-control" placeholder="Price" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                <input type="Text" class="form-control" placeholder="Bill" />
                            </div>
                    
                        
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                   

                    <button  class="btn btn-sm btn-primary btn-block" role="button">
                        Add Item</button> </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </form> -->


    <div class="col-lg-3">
        
                  <h1 class="my-4">Shop Name</h1>
                  <div class="list-group">
                    <a href="#" class="list-group-item">Veg</a>
                    <a href="#" class="list-group-item">NonVeg</a>
                    <a href="#" class="list-group-item">ALL</a>
                  </div>
        
                </div>


   

    <!-- Page Content -->
    <div class="container">


            

   


     
  <div class="row">
      
    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">
          Beef Burger</div>
        <div class="panel-body"><img src="./assets/menu-sample-burgers.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item One</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading"><b>BLACK FRIDAY DEAL</b></div>
        <div class="panel-body"><img src="./assets/menu-sample-dessert.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item two</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="./assets/menu-sample-drinks.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Tthree</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="./assets/menu-sample-pasta.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Tthree</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="./assets/menu-sample-pizza.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Tthree</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="./assets/menu-sample-sushi.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Tthree</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      </div>
    </div>

  </div>
</div><br>



         

           

   


