.auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0,0,0,.55);
    color: #fff;
    padding: 37px;
    margin-top: 38px;
}
.auth-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
span {
    font-size: 0.9rem;
  }
  

.container {
    width: 1140px;
    max-width: 100%;
    height: 900px;

}


 body, html {
    height: 100%;
    background-image: url('./login.jpg')
}
.auth-link{
    color: chartreuse;
}

.alert-danger {
    color: chartreuse;
    background-color: black;
    border-color: lightskyblue;
}