<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blur Admin</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/auth.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body>
  <div class="container">

  <div class="auth-block">
    <h1>Signup to Account</h1>
  <br/>
  <br/>
    <form class="form-horizontal"  [formGroup]="profileForm" (ngSubmit)="onprofileFormSubmit()" name="profileForm">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>

        <div class="col-sm-10">
          <input type="text"  name="username" formControlName="username"  ng-model="username"   class="form-control" id="username" placeholder="username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3"   class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input type="password"  name="password" formControlName="password"  ng-model="password"  class="form-control" id="password" placeholder="Password">
        </div>
      </div>

      <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
  
          <div class="col-sm-10">
            <input type="password" name="cpassword" formControlName="cpassword" ng-model="cpassword"  class="form-control" id="cpassword" placeholder="confirm Password">
          </div>
        </div>
       
          <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Mobile number</label>
      
              <div class="col-sm-10">
                <input type="text" name="mobilenumber" class="form-control"   ng-model="mobilenumber"  formControlName="mobilenumber" id="mobilenumber" placeholder="mobilenumber">
              </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
        
                <div class="col-sm-10">
                  <input type="email" name="email" class="form-control" ng-model="email" formControlName="email" id="email" placeholder="email">
                </div>
              </div>
              <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Address Details</label>
        
                <div class="col-sm-10">
                  <input type="text" name="location" class="form-control" ng-model="location" formControlName="location" id="location" placeholder="location">
                </div>
              </div>

      <br/>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button  style="margin-left:138px;margin-right:auto;" type="submit" class="btn btn-primary">Signup</button>
         <h4> <a href="login" > Already member.click here</a></h4>
         <h4> <a href="home" class="auth-link"> Back to Homepage</a></h4>
        </div>
      </div>
    </form>



    
  </div>

</div>
</body>
</html>