

    <div id="titlebar"> <h2 align="center">Welcome to our site!</h2> </div>
    
    <ul class="topnav">
    
      <li><a class="active" href="#home">Home</a></li>
    
      <li><a href="#blog" (click)="clickBlog()">users</a></li>
    
      <li><a href="#packages"> Add Members </a></li>
    
     <li class="right"><a href="#logout" (click)="logout()">logout</a></li>
    
    </ul>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Shop Name</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Veg</a>
            <a href="#" class="list-group-item">NonVeg</a>
            <a href="#" class="list-group-item">ALL</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
         
      </div>
 &nbsp;

 <div class="container">    
  <div class="row">
    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">
          Beef Burger</div>
        <div class="panel-body"><img src="./assets/menu-sample-burgers.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item One</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading"><b>BLACK FRIDAY DEAL</b></div>
        <div class="panel-body"><img src="./assets/menu-sample-dessert.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item two</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="./assets/menu-sample-drinks.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Tthree</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="./assets/menu-sample-pasta.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Tthree</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="./assets/menu-sample-pizza.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Tthree</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="card h-100">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="./assets/menu-sample-sushi.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Tthree</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      
      </div>
    </div>
  </div>
</div><br>



         

           

          </div>
          <!-- /.row -->

      

    
      <!-- /.row -->

    </div>
    <!-- /.container -->



    <div class="footer">
      <p>@copy rights by saiprashanthc2n</p>
    </div>